body{
    background-color: #2d023f;
}
._predModal{
    background:linear-gradient(180deg, #7E02B9 0%, rgba(100, 14, 140, 0.18) 100%)
}
.clos_by{
    background: linear-gradient(180deg, rgba(126, 2, 185, 0.11) 0%, rgb(253, 253, 253) 100%);
}
.cd_edit{
    border-color: #7E02B9;
    color: #d08dec;
    background: linear-gradient(180deg, #7E02B9 0%, rgba(100, 14, 140, 0.18) 100%);
    row-cols-md: 2;


}
h1{
    color: #e1cbcb;

}
.modal-content{
    background: linear-gradient(180deg, #7E02B9 0%, rgba(100, 14, 140, 0.18) 100%);
}
.modal-header
{


}
.hover-2 {
    --c: #1095c1; /* the color */
    --b: .1em;    /* border length*/
    --d: 20px;    /* the cube depth */

    --_s: calc(var(--d) + var(--b));

    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
            conic-gradient(at left var(--d)  bottom var(--d),
            #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
            conic-gradient(at left var(--_s) bottom var(--_s),
            #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path:
            polygon(
                    var(--d) 0%,
                    var(--d) 0%,
                    100% 0%,
                    100% calc(100% - var(--d)),
                    100% calc(100% - var(--d)),
                    var(--d) calc(100% - var(--d))
            );
    transition: 0.5s;
}
.hover-2:hover {
    transform: translate(0,0);
    clip-path:
            polygon(
                    0% var(--d),
                    var(--d) 0%,
                    100% 0%,
                    100% calc(100% - var(--d)),
                    calc(100% - var(--d)) 100%,
                    0% 100%
            );
}











